@CHARSET "UTF-8";
hr{
  margin-bottom:0;
  background: #E9967A;
  height: 2px;
}
.box{
  margin-top:0;
  padding-top:0;
  width:500px;
  margin-left:10px;
  background: #F8F8FF;
  border-top:2px #B03060 solid;
  border-right:1px dashed #8B636C;
  border-bottom:1px dashed #8B636C;
  border-left:1px dashed #8B636C;
}
#form label{
  margin-top:20px;
  margin-left:20px;
  display:inline-block;
  margin-bottom:15px;
}
#form input{
  height:30px;
  margin-left:10px;
}
#form span{
  margin-left:10px;
  font-size:12px;
}
.footnav{
  margin:15px;
}
.footnav button{
  margin-right:20px;
}